<div class="formu d-flex justify-content-center">
  <form action="formularioInscripcion flex">
    <label for="nombre"></label><br />
    <input
      class="lbl"
      type="text"
      name="nombre"
      id="nombre"
      placeholder="Nombre"
    /><br />

    <label for="pass"></label><br />
    <input
      class="lbl"
      type="password"
      name="pass"
      id="pass"
      placeholder="Password"
    /><br />

    <label for="linkedin"></label><br />
    <input
      class="lbl"
      type="text"
      name="linkedin"
      id="linkedin"
      placeholder="Url Linkedin"
    /><br />
    <br />

    <div class="d-flex justify-content-between">
      <button class="btn-validar" type="submit" value="Enviar">Validar</button>

      <a
        href="https://www.linkedin.com/in/mat%C3%ADas-vild%C3%B3sola-barraza-7a26b4b5/"
        target="_blank"
        ><i class="fa-brands fa-linkedin d-flex justify-content-end"></i
      ></a>
    </div>
  </form>
</div>
