<router-outlet></router-outlet>

<div class="container-sm">
  <h1>Formulario</h1>
  <hr />
  <form [formGroup]="forma" (ngSubmit)="guardar()">
    <div>
      <div class="form-group row">
        <label class="col-2 col-form-label">Nombre</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            formControlName="nombre"
            placeholder="Nombre"
          />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-2 col-form-label">Apellido</label>
        <div class="col-8">
          <input
            class="form-control"
            type="text"
            placeholder="Apellido"
            formControlName="apellido"
          />
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Correo</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="email"
          placeholder="Correo electrónico"
          formControlName="correo"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Password</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="password"
          formControlName="password1"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Confirmar password</label>
      <div class="col-md-8">
        <input
          class="form-control"
          type="password"
          formControlName="password2"
        />
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">&nbsp;</label>
      <div class="input-group col-md-8">
        <button type="submit" class="btn btn-outline-primary mr-2">
          Guardar
        </button>
        <button type="submit" class="btn btn-outline-danger">Limpiar</button>
      </div>
    </div>
  </form>

  <hr>
  <h3 class="mt-5">Formulario</h3>
  <pre>Estado de formulario:{{forma.valid}} <br>Status:{{forma.status}}</pre>
  <pre>{{forma.value | json}}</pre>
</div>
