.fondo-color{
    background-color: #262627;
    color: aliceblue;
}

.word-container {
    display: flex;
    gap: 190px; 
}

.click {
    text-decoration: none;
    color: inherit; /* Esto mantendrá el color del texto igual que el del entorno */
  }
  
  .click:hover {
    color: white; /* O el color que prefieras para el hover */
  }