
<div class="row fondo-color" >

    
    <div class="col-10">
        <br/>
        <div class="word-container">
            <b><a routerLink="/inicio" class="click">Inicio</a></b> 
            <b><a routerLink="/quienes-somos"  class="click">Quienes Somos</a></b>
            <b><a routerLink="/nuestros-servicios"  class="click">Nuestros Servicios</a></b>
            <b><a routerLink="/login2" class="click">Login</a></b>
        </div>
    </div>

   
    
    <div class="col-2 text-end">
        <img src="assets/img/logo.svg" class="img-fluid">
    </div>

    <div class="col-12">
        <hr>
    </div>

    
</div>