<!-- 
<div class="row fondo-color" >

    <div class="col-3">
        <h1>Socius</h1>
    </div>
    <div class="col-7">

    </div>

    <div class="col-2 text-end">
        <img src="assets/img/logo.svg" class="img-fluid">
    </div>

    <div class="col-12">
        <hr>
    </div>

    
</div> -->

<nav class=" pp-navbar navbar navbar-expand-lg position-relative bg-primary navbar-dark w-100">

    <div class="container">
        <a href="#" class="navbar-brand text-end">
            <img src="assets/img/logo.svg" class="img-fluid" alt="LogoCompagnie" width="80px" height="80px">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <!-- Agrege el pe-4 para dar los items del navbar espacio! -->
                <li class="nav-item pe-4">
                    <a routerLink="/home" class="nav-link"> Home </a>
                </li>
                <li class="nav-item pe-4">
                    <a routerLink="/quienesSomos" class="nav-link">Quienes somos</a>
                </li>
                <li class="nav-item pe-4">
                    <a routerLink="/contacto" class="nav-link">Contacto</a>
                </li>
                <li class="nav-item pe-4">
                    <a routerLink="/login" class="btn btn-conect rounded-0">Conectar</a>
                </li>
            </ul>
        </div>
    </div>

</nav>