<div class="welcome-container">
    <h1>Bienvenido</h1>
    <p class="welcome-message">¡Nos alegra verte! Por favor, selecciona una opción para continuar:</p>
    <div class="row justify-content-center">
        <div class="col-auto">
            <button type="button" class="btn btn-primary-custom" (click)="redirectToRegistro()">Formulario de Registro</button>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-secondary-custom" (click)="redirectToListar()">Listar Personas</button>
        </div>
    </div>
</div>