
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-header></app-header>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-3">
            <app-menu></app-menu>
        </div>

        <div class="col-9">
           
            <form [formGroup]="formularioEjemplo" (ngSubmit)="onSubmit()">

                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" id="Nombre" formControlName="Nombre">
                    <label for="Apellido">Apellido</label>
                    <input type="text" name="Apellido" id="Apellido" class="form-control" formControlName="Apellido">
                    <label for="Rut">RUT</label>
                    <input type="number" name="Rut" id="Rut" class="form-control" formControlName="Rut">

                </div>
                {{formularioEjemplo.value|json}}



                <button type="submit" class="btn btn-primary btn-block">Saludar</button>
            </form>
        </div>
    </div>
</div>



<app-footer></app-footer>