<div class="card">
    <div class="card-body">
        <form>
        <div class="mb-2">
            <label class="form-label">
                Nombres
            </label>

            <input type="text" [formControl]="name" class="form-control" placeholder="Ingrese sus nombres">
            <div class=" alert alert-danger mt-2" [hidden]="name.valid || name.pristine">El nombre es obligatorio</div>
        </div>

        <div class="mb-2">
            <label class="form-label">
                Apellidos
            </label>

            <input type="text" [formControl]="lastName" class="form-control" placeholder="Ingrese sus apellidos">
            <div class=" alert alert-danger mt-2" [hidden]="lastName.pristine || name.pristine">Los apellidos son obligatorios</div>
        </div>

        <div class="mb-2">
            <label class="form-label">
                LinkedIn
            </label>

            <input type="url"  [formControl]="link" class="form-control">
        </div>
        <button class="btn btn-primary">
           Enviar
        </button>
    </form>
    </div>    
</div>